写出导入 pandas 的语句， 并且给 pandas 别名为 pd。

In [1]:
import pandas as pd

创建一个叫 s1 的 Series，里面包含元素 -1.2、 3.7、 2.5、 -8.2、 6.3。创建后进行输出。

In [2]:
s1 = pd.Series([-1.2, 3.7, 2.5, -8.2, 6.3])
s1

0   -1.2
1    3.7
2    2.5
3   -8.2
4    6.3
dtype: float64

打印 s1 的所有索引以及所有元素值。

In [3]:
print(s1.index)
print(s1.values)

RangeIndex(start=0, stop=5, step=1)
[-1.2  3.7  2.5 -8.2  6.3]

创建一个叫 s2 的Series, 里面包含元素 1、 2、 3、 4、 5，

并且对应索引5、 4、 3、 2、 1。创建后进行输出。

In [4]:
s2 = pd.Series([1, 2, 3, 4, 5],
              index = [5, 4, 3, 2, 1])
s2

5    1
4    2
3    3
2    4
1    5
dtype: int64

输出 s2 里按位置顺序排在第 2 个的元素。

In [6]:
s2.iloc[1]

np.int64(2)

输出 S2 里按标签对应从 5 到 3 (包括 3 )范围内的元素。

In [10]:
s2.loc[5:3]

5    1
4    2
3    3
dtype: int64

通过一个字典来创建 Series s3。字典的键为: 矮子，狗子，孙子，小黄，sed老师,  值为: 46、25、 91、 87、 49。 创建后进行输出。

In [12]:
s3 = pd.Series({"矮子":46, "狗子":25, "孙子":91, "小黄":87, "sed老师":49})
s3

矮子       46
狗子       25
孙子       91
小黄       87
sed老师    49
dtype: int64

把 s3 里小黄标签对应的值改为 95 ， 再进行输出

In [14]:
s3.loc["小黄"] = 95
s3

矮子       46
狗子       25
孙子       91
小黄       95
sed老师    49
dtype: int64

输出 s3 里所有值大于 80 且小于 90 的元素。

In [16]:
s3[(s3 > 80) & (s3 < 100)]

孙子    91
小黄    95
dtype: int64