导入`pandas`的语句，并且给`pandas`别名为`pd`。

In [1]:
import pandas as pd
import numpy as np

创建一个名为`Students`的`DataFrame`，包含数据如下：

`{"001":{"姓名": "孙哥", "考试1": 85, "考试2": 95, "考试3": 92},
"002":{"姓名": "黄哥", "考试1": 91, "考试2":92, "考试3": 94},
"003":{"姓名": "翘兔", "考试1": 86, "考试2":81, "考试3": 89},
"004":{"姓名": "sed老师", "考试1": 79, "考试2": 89, "考试3": 95},
"005":{"姓名": "狗处", "考试1": 96, "考试2": 91, "考试3": 91},
"006":{"姓名": "死矮子", "考试1": 81, "考试2":89, "考试3":92}}`

要求学号{001、002等}为索引，姓名、考试1、考试2、考试3为列名，并输出创建好的`DataFrame`。

In [2]:
Students = pd.DataFrame({"001":{"姓名": "孙哥", "考试1": 85, "考试2": 95, "考试3": 92},
"002":{"姓名": "黄哥", "考试1": 91, "考试2":92, "考试3": 94},
"003":{"姓名": "翘兔", "考试1": 86, "考试2":81, "考试3": 89},
"004":{"姓名": "sed老师", "考试1": 79, "考试2": 89, "考试3": 95},
"005":{"姓名": "狗处", "考试1": 96, "考试2": 91, "考试3": 91},
"006":{"姓名": "死矮子", "考试1": 81, "考试2":89, "考试3":92}}).T
Students

        姓名 考试1 考试2 考试3
001     孙哥  85  95  92
002     黄哥  91  92  94
003     翘兔  86  81  89
004  sed老师  79  89  95
005     狗处  96  91  91
006    死矮子  81  89  92

创建一个叫`Students_DataFrame`的`DataFrame`,索引为学号，包含姓名列(列名为"姓名")， 以及计算出三次考试平均值后的结果列(列名为"平均分")。

In [3]:
Average = Students.loc[:, "考试1":"考试3"].mean(axis = 1)
Name = Students["姓名"]
Students_Average = pd.DataFrame({"姓名": Name, "平均分": Average})
Students_Average

        姓名        平均分
001     孙哥  90.666667
002     黄哥  92.333333
003     翘兔  85.333333
004  sed老师  87.666667
005     狗处  92.666667
006    死矮子  87.333333

输出每次考试第二高的分数组成的 Series， 可以尝试结合匿名函数。

In [4]:
Students.loc[:, "考试1": "考试3"]. apply(lambda x: np.sort(x)[-2])

考试1    91
考试2    92
考试3    94
dtype: int64

根据以下规则，输出每个学号对应的四次考试的等级：
>- (A+): 平均分 >= 95  输出 "牛逼啊你！"
>- (A)  : 90 <= 平均分 < 95  输出 "还可以~(阴阳怪气)"
>- (B+): 85 <= 平均分 < 90  输出 "也还行~"
>- (B)  : 80 <= 平均分 < 85  输出 "呵呵~(阴阳怪气)"
>- (C+): 75 <= 平均分 < 80  输出 "你特么弱智吧你！"
>- (C)  : 平均分 < 75  输出 "没救了，找块地把自己买了吧~"

In [10]:
def Get_Grade (Score):
    if Score >= 95:
        return "牛逼啊你！"
    elif Score >= 85:
        return "还可以~(阴阳怪气)"
    elif Score >= 80:
        return "也还行~"
    elif Score >= 75:
        return "呵呵~(阴阳怪气)"
    elif Score >= 70:
        return "你特么弱智吧你！"
    else:
        return "没救了，找块地把自己买了吧~"

In [12]:
Students.loc[:,"考试1": "考试3"].applymap(Get_Grade)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_11828\3350277585.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  Students.loc[:,"考试1": "考试3"].applymap(Get_Grade)

            考试1         考试2         考试3
001  还可以~(阴阳怪气)       牛逼啊你！  还可以~(阴阳怪气)
002  还可以~(阴阳怪气)  还可以~(阴阳怪气)  还可以~(阴阳怪气)
003  还可以~(阴阳怪气)        也还行~  还可以~(阴阳怪气)
004   呵呵~(阴阳怪气)  还可以~(阴阳怪气)       牛逼啊你！
005       牛逼啊你！  还可以~(阴阳怪气)  还可以~(阴阳怪气)
006        也还行~  还可以~(阴阳怪气)  还可以~(阴阳怪气)

展示`Students`每个考试分数数据列的统计信息，包括个数、平均值、标准差、四分位数等。

In [13]:
Students.describe()

        姓名  考试1  考试2  考试3
count    6    6    6    6
unique   6    6    5    5
top     孙哥   85   89   92
freq     1    1    2    2

In [14]:
Students["考试1"]

001    85
002    91
003    86
004    79
005    96
006    81
Name: 考试1, dtype: object

In [15]:
Students["考试1"] = Students["考试1"].astype('int')
Students["考试2"] = Students["考试2"].astype('int')
Students["考试3"] = Students["考试3"].astype('int')
Students. describe()

             考试1        考试2        考试3
count   6.000000   6.000000   6.000000
mean   86.333333  89.500000  92.166667
std     6.314006   4.722288   2.136976
min    79.000000  81.000000  89.000000
25%    82.000000  89.000000  91.250000
50%    85.500000  90.000000  92.000000
75%    89.750000  91.750000  93.500000
max    96.000000  95.000000  95.000000