In [1]:
import pandas as pd
import numpy as np

创建一个`DataFrame`范例来供学习`数据评估`

In [18]:
S_ID = pd.Series(["孙哥", "黄哥", "翘兔", "sed老师", "狗处", "死矮子"])
S_Gender = pd.Series([85, 91, 86, 79, 96, 81])
S_Height = pd.Series([95, 92, 81, 89, 91, None])
S_Grade = pd.Series([92, 94, None, 95, 91, 92])
Scores = pd.DataFrame({"姓名":S_ID , "考试1":S_Gender , "考试2":S_Height , "考试3":S_Grade})
New_Index = ["001", "002", "003", "004", "005", "006"]
Scores.index = New_Index
Scores

        姓名  考试1   考试2   考试3
001     孙哥   85  95.0  92.0
002     黄哥   91  92.0  94.0
003     翘兔   86  81.0   NaN
004  sed老师   79  89.0  95.0
005     狗处   96  91.0  91.0
006    死矮子   81   NaN  92.0

获得`DataFrame`的概况

In [7]:
DF1 = pd.read_csv(".\Some_Data_Base/amazon.csv")
DF1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.3+ KB

获取`开头/结尾/随机N行`(以10行为例)

In [11]:
# 获取数据开头10行的信息
# DF1.head(10)
# 获取数据结尾10行的信息 
# DF1.tail(10)
# 获取数据随机10行的信息 
# DF1.sample(10)

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
67,B0B9XN9S3W,Acer 80 cm (32 inches) N Series HD Ready TV AR...,"Electronics|HomeTheater,TV&Video|Televisions|S...","₹7,999","₹14,990",47%,4.3,457,Resolution: HD Ready (1366 x 768) | Refresh Ra...,"AFXQSBDW6232K22UMJWF5PMYX5RQ,AG4IENR3HNMEINBTJ...","ARUN KUMAR A V,Ankesh kumar pandit,Pradeep,lim...","R3FTW5HNPCX66C,RM7IFDV9KNC2O,RK9JKA9U9LZ49,R15...","Value for Money,Good product,Great excellent p...",Regarding rate I liked very much and reasonabl...,https://m.media-amazon.com/images/I/51FicDnawa...,https://www.amazon.in/Acer-inches-Ready-AR32NS...
922,B08J82K4GX,"Samsung 24-inch(60.46cm) FHD Monitor, IPS, 75 ...",Computers&Accessories|Monitors,"₹10,099","₹19,110",47%,4.3,"2,623","24 inch Samsung Monitor - 1,920 x 1,080 Resolu...","AGYJWE5KU7LQVHHG3UBK4DGPWP5A,AFAW4JGIBKTJDQE4E...","Srikkanth,Sameer,Alexander,Siddhant Pawar,Deep...","R1R5HVWWX3D0P9,RRDFD5UYQWGA2,R1U2VOC38FXAK5,R3...","Good one,, bright!,Great product altogether,Go...","I had an LG 27"" monitor and broke it twice whi...",https://m.media-amazon.com/images/I/417vDmMtbp...,https://www.amazon.in/Samsung-inch-Bezel-Flick...
970,B0083T231O,Belkin Essential Series 4-Socket Surge Protect...,Electronics|PowerAccessories|SurgeProtectors,"₹1,289","₹1,499",14%,4.5,"20,668",Maximum Spike Current: 6500 Amps|Grounds AC po...,"AGT572FSHJL725535LQUNZXHTO2A,AGGIJ2Y7MC4VSMU57...","Hayat Ansari,Basanti Renu Hembram,Darshana Pra...","R1DQD1BRKH1AIO,R3ESPNPFL2XD8Z,RS64CINVRWLQ7,R3...","Good product with bad resellers,Works great,Be...",Product is excellent. But Belkin should check ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Belkin-Essential-F9E400z...
236,B097ZQTDVZ,7SEVEN® TCL Remote Control Smart TV RC802V Rem...,"Electronics|HomeTheater,TV&Video|Accessories|R...",₹399,₹899,56%,3.4,431,Compatible for TCL 65P8S 32A323 32A325 32P30S ...,"AGKXFGRXVN4CMGMCT5SGOPB6BBIQ,AGNKWLEKAA53Y27KT...","umakanth,Sagar Ranpise,Martin Gibson Karkada,R...","R16NWYD2LYHNFJ,R2Y32IVRENIANJ,R3BBJ9AXA1ZOSC,R...",When you can’t find the original this comes ha...,"Just got delivered, there’s lag in remote, it ...",https://m.media-amazon.com/images/I/31DRQ+kgWa...,https://www.amazon.in/RC802V-Compatible-43S650...
37,B09RZS1NQT,"Sounce 65W OnePlus Dash Warp Charge Cable, 6.5...",Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,80%,4.0,576,[USB C To USB C Cord 1M] With This 1 Meter USB...,"AHUH7OYN3LAUATF5EGA575WCDI6A,AFQRX6TAM6CHKARXI...","Anmol,Vani,Tejas Jha,Rishabh Gupta,Nik,Harsha,...","RW294SCHB5QTK,R24AGC1O5RVWYI,R3NT7AA2V3I2FB,R2...","Worth it!,Good one,Robust and effective.,Good,...",It does the job really well. No complaints reg...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-Type-C-Compatible...
1384,B09XHXXCFH,"AGARO Regal Electric Rice Cooker, 3L Ceramic I...",Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...,"₹3,685","₹5,495",33%,4.1,290,Multi functional use- Steamed veggies and rice...,"AHD7UBRNLFOB46RIRLFXKJY6N53Q,AETPMOGJUEKAM3X4B...","Pratik garg,Amazon Customer,olivia dutta,Ravit...","R1FV12XCLPA07M,RR4FYBIUQQF0S,R3IGJPGKZS06NZ,R3...",It is a great product can be used to make dish...,I used it to make pulao and curry. It is eqsy ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/AGARO-Regal-Electric-Cer...
620,B07QZ3CZ48,boAt BassHeads 122 Wired Earphones with Heavy ...,"Electronics|Headphones,Earbuds&Accessories|Hea...",₹399,"₹1,290",69%,4.2,206,Tune into Premium Audio with 10mm Drivers and ...,"AEY3XQ3NAOS4ZK53VDEVWJ72UYMA,AFENYA36PCVR7U6VQ...","Clifford Francis,Paras s.,Aditya Pandey,Abhina...","RUVNSVGR3C0ZK,R3IZIBJ48U0KDN,REZOPKFLKI7YE,R3G...","Boats are the best.,Just awesome,it is good in...",The sound quality is amazing but you have to b...,https://m.media-amazon.com/images/I/41dNRo8Hu8...,https://www.amazon.in/BassHeads-122-Earphones-...
1275,B0BM9H2NY9,Multifunctional 2 in 1 Electric Egg Boiling St...,Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...,₹699,"₹1,599",56%,4.7,"2,300",Egg Frying Pan,"AFZ2YKWX4KR7MWSA6UOMEGGHT32A,AEP6WZ7AR6XDQSBFS...","Nitin G.,Veerasomachary,Roshan,Kunwar Indransh...","R2DHTJGY77MOP0,R36IXNHZC037AW,R3GPHUMRV75VWK,R...","Amazing! Value for money!,Very easy to use,2 i...","Worth buying for eggetarians,Working great so ...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Multifunctional-Electric...
1179,B07SPVMSC6,Bajaj Frore 1200 mm Ceiling Fan (Brown),"Home&Kitchen|Heating,Cooling&AirQuality|Fans|C...","₹1,399","₹2,660",47%,4.1,"9,349","Sweep : 1200mm, Power : 56W, Air Delivery : 20...","AFE4ZYVJSLM3MSXZHWHIWFGRMNPQ,AGLLVLIYA7LEFYOBO...","Shahul hameed,Bhaumik,Amjith K,Khimesh Chandra...","R15AE2SXC1IIK3,RQHVUM93NUCOU,R2DX0NQ3S7KOQ4,R1...","💥,Considering the price range, it’s a good one...","Nice,This fan is working fine, I’ve been using...",https://m.media-amazon.com/images/I/21qojQDoKW...,https://www.amazon.in/Bajaj-Frore-1200-Brown-C...
277,B09VH568H7,Amazon Brand - Solimo 3A Fast Charging Tough T...,Computers&Accessories|Accessories&Peripherals|...,₹119,₹299,60%,3.8,51,Durable data cable with the toughest PVC jacke...,"AG5P7BKN4M3JH7HW64UV4Y2QZGHA,AHDAOL3TEKGCQABAY...","Sachin Dsouza,Ashrith S,Sheetal Prasad,Vibhu,B...","RR7JLC3VD2TBS,R3PG7SPU02XR6Z,R382LEGRZSS0UN,R1...","Good product, worth it,Not worthy to buy,good ...",",Please don't buy this product.Cable stopped w...",https://m.media-amazon.com/images/I/21pqzUPpJN...,https://www.amazon.in/Amazon-Brand-Solimo-Char...

调整展示`上限`

In [ ]:
# pd.set_options("display.max_columns", 150)
# pd.set_options("display.max_columns", 500)

评估`丢失数据`  
`info`<br>
`isnull`<br>

In [19]:
Scores["考试2"]

001    95.0
002    92.0
003    81.0
004    89.0
005    91.0
006     NaN
Name: 考试2, dtype: float64

In [22]:
Scores["考试2"].isnull()

001    False
002    False
003    False
004    False
005    False
006     True
Name: 考试2, dtype: bool

In [23]:
Scores["考试2"].isnull().sum()

np.int64(1)

In [21]:
Scores.isnull()

        姓名    考试1    考试2    考试3
001  False  False  False  False
002  False  False  False  False
003  False  False  False   True
004  False  False  False  False
005  False  False  False  False
006  False  False   True  False

In [24]:
Scores.isnull().sum()

姓名     0
考试1    0
考试2    1
考试3    1
dtype: int64

In [26]:
True + 6
False + 9

9

提取`丢失数据`的行

In [28]:
Scores[Scores["考试3"].isnull()]

     姓名  考试1   考试2  考试3
003  翘兔   86  81.0  NaN

## 评估 `重复数据`

In [30]:
Students = pd.Series(["001", "002", "003", "002", "005", "002", "006"], 
              index = [0, 1, 2, 3, 4, 5, 6])
Students

0    001
1    002
2    003
3    002
4    005
5    002
6    006
dtype: object

In [31]:
Students.duplicated()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool

In [32]:
S_ID1 = pd.Series(["001", "002", "003", "002", "005", "002", "006"])
S_Name1 = pd.Series(["孙哥", "黄哥", "翘兔", "sed老师", "狗处", "黄哥", "死矮子"])
S_Gender1 = pd.Series(["女", "女", "男", "男", "女", "女", "女"])
S_Height1 = pd.Series([172.5, 168.0, 178.2, 181.2, 161.7, 168.0, 158.5])
Students1 = pd.DataFrame({"学号":S_ID1, "姓名":S_Name1, "性别":S_Gender1 , "身高":S_Height1})
New_Index1 = [0, 1, 2, 3, 4, 5, 6]
Students1.index = New_Index1
Students1

    学号     姓名 性别     身高
0  001     孙哥  女  172.5
1  002     黄哥  女  168.0
2  003     翘兔  男  178.2
3  002  sed老师  男  181.2
4  005     狗处  女  161.7
5  002     黄哥  女  168.0
6  006    死矮子  女  158.5

In [35]:
Students1.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [36]:
Students1.duplicated(subset = ["学号", "性别"])

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [37]:
Students1[Students1.duplicated(subset = ["学号", "性别"])]

    学号  姓名 性别     身高
5  002  黄哥  女  168.0

评估`不一致数据`

In [38]:
S_ID2 = pd.Series(["001", "002", "003", "002", "005", "002", "006"])
S_Name2 = pd.Series(["孙哥", "黄哥", "黄哥", "翘兔", "sed老师", "狗处", "死矮子"])
S_Gender2 = pd.Series(["女", "女", "女", "男", "男", "女", "女"])
S_Class2 = pd.Series(["1 班", "1班", "1 班", "一班", "二班", "2 班", "2 班"])
Students2 = pd.DataFrame({"学号":S_ID2, "姓名":S_Name2, "性别":S_Gender2 , "班级":S_Class2})
New_Index2 = [0, 1, 2, 3, 4, 5, 6]
Students2.index = New_Index2
Students2

    学号     姓名 性别   班级
0  001     孙哥  女  1 班
1  002     黄哥  女   1班
2  003     黄哥  女  1 班
3  002     翘兔  男   一班
4  005  sed老师  男   二班
5  002     狗处  女  2 班
6  006    死矮子  女  2 班

In [39]:
Students2["班级"]

0    1 班
1     1班
2    1 班
3     一班
4     二班
5    2 班
6    2 班
Name: 班级, dtype: object

In [40]:
Students2["班级"].value_counts()

班级
1 班    2
2 班    2
1班     1
一班     1
二班     1
Name: count, dtype: int64

评估`无效/错误数据`

In [45]:
S_Name3 = pd.Series(["孙哥", "黄哥", "黄哥", "翘兔", "sed老师", "狗处", "死矮子"])
S_Gender3 = pd.Series(["女", "女", "女", "男", "男", "女", "女"])
S_Height3 = pd.Series([172.5, 168.0, 1168.0, 178.2, 181.3, -161.7, 158.5])
Students3 = pd.DataFrame({"学号":S_Name3, "姓名":S_Name3, "性别":S_Gender3, "身高":S_Height3})
# New_Index3 = [0, 1, 2, 3, 4, 5, 6]
# Students2.index = New_Index3
Students3

      学号     姓名 性别      身高
0     孙哥     孙哥  女   172.5
1     黄哥     黄哥  女   168.0
2     黄哥     黄哥  女  1168.0
3     翘兔     翘兔  男   178.2
4  sed老师  sed老师  男   181.3
5     狗处     狗处  女  -161.7
6    死矮子    死矮子  女   158.5

In [46]:
Students3["身高"].sort_values()

5    -161.7
6     158.5
1     168.0
0     172.5
3     178.2
4     181.3
2    1168.0
Name: 身高, dtype: float64

In [47]:
Students3.describe()

                身高
count     7.000000
mean    266.400000
std     416.596447
min    -161.700000
25%     163.250000
50%     172.500000
75%     179.750000
max    1168.000000