In [1]:
import pandas as pd
import numpy as np

ÂàõÂª∫‰∏Ä‰∏™`DataFrame`ËåÉ‰æãÊù•‰æõÂ≠¶‰π†`Êï∞ÊçÆËØÑ‰º∞`

In [18]:
S_ID = pd.Series(["Â≠ôÂì•", "ÈªÑÂì•", "ÁøòÂÖî", "sedËÄÅÂ∏à", "ÁãóÂ§Ñ", "Ê≠ªÁüÆÂ≠ê"])
S_Gender = pd.Series([85, 91, 86, 79, 96, 81])
S_Height = pd.Series([95, 92, 81, 89, 91, None])
S_Grade = pd.Series([92, 94, None, 95, 91, 92])
Scores = pd.DataFrame({"ÂßìÂêç":S_ID , "ËÄÉËØï1":S_Gender , "ËÄÉËØï2":S_Height , "ËÄÉËØï3":S_Grade})
New_Index = ["001", "002", "003", "004", "005", "006"]
Scores.index = New_Index
Scores

        ÂßìÂêç  ËÄÉËØï1   ËÄÉËØï2   ËÄÉËØï3
001     Â≠ôÂì•   85  95.0  92.0
002     ÈªÑÂì•   91  92.0  94.0
003     ÁøòÂÖî   86  81.0   NaN
004  sedËÄÅÂ∏à   79  89.0  95.0
005     ÁãóÂ§Ñ   96  91.0  91.0
006    Ê≠ªÁüÆÂ≠ê   81   NaN  92.0

Ëé∑Âæó`DataFrame`ÁöÑÊ¶ÇÂÜµ

In [7]:
DF1 = pd.read_csv(".\Some_Data_Base/amazon.csv")
DF1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           1465 non-null   object
 1   product_name         1465 non-null   object
 2   category             1465 non-null   object
 3   discounted_price     1465 non-null   object
 4   actual_price         1465 non-null   object
 5   discount_percentage  1465 non-null   object
 6   rating               1465 non-null   object
 7   rating_count         1463 non-null   object
 8   about_product        1465 non-null   object
 9   user_id              1465 non-null   object
 10  user_name            1465 non-null   object
 11  review_id            1465 non-null   object
 12  review_title         1465 non-null   object
 13  review_content       1465 non-null   object
 14  img_link             1465 non-null   object
 15  product_link         1465 non-null   object
dtypes: object(16)
memory usage: 183.3+ KB

Ëé∑Âèñ`ÂºÄÂ§¥/ÁªìÂ∞æ/ÈöèÊú∫NË°å`(‰ª•10Ë°å‰∏∫‰æã)

In [11]:
# Ëé∑ÂèñÊï∞ÊçÆÂºÄÂ§¥10Ë°åÁöÑ‰ø°ÊÅØ
# DF1.head(10)
# Ëé∑ÂèñÊï∞ÊçÆÁªìÂ∞æ10Ë°åÁöÑ‰ø°ÊÅØ 
# DF1.tail(10)
# Ëé∑ÂèñÊï∞ÊçÆÈöèÊú∫10Ë°åÁöÑ‰ø°ÊÅØ 
# DF1.sample(10)

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
67,B0B9XN9S3W,Acer 80 cm (32 inches) N Series HD Ready TV AR...,"Electronics|HomeTheater,TV&Video|Televisions|S...","‚Çπ7,999","‚Çπ14,990",47%,4.3,457,Resolution: HD Ready (1366 x 768) | Refresh Ra...,"AFXQSBDW6232K22UMJWF5PMYX5RQ,AG4IENR3HNMEINBTJ...","ARUN KUMAR A V,Ankesh kumar pandit,Pradeep,lim...","R3FTW5HNPCX66C,RM7IFDV9KNC2O,RK9JKA9U9LZ49,R15...","Value for Money,Good product,Great excellent p...",Regarding rate I liked very much and reasonabl...,https://m.media-amazon.com/images/I/51FicDnawa...,https://www.amazon.in/Acer-inches-Ready-AR32NS...
922,B08J82K4GX,"Samsung 24-inch(60.46cm) FHD Monitor, IPS, 75 ...",Computers&Accessories|Monitors,"‚Çπ10,099","‚Çπ19,110",47%,4.3,"2,623","24 inch Samsung Monitor - 1,920 x 1,080 Resolu...","AGYJWE5KU7LQVHHG3UBK4DGPWP5A,AFAW4JGIBKTJDQE4E...","Srikkanth,Sameer,Alexander,Siddhant Pawar,Deep...","R1R5HVWWX3D0P9,RRDFD5UYQWGA2,R1U2VOC38FXAK5,R3...","Good one,, bright!,Great product altogether,Go...","I had an LG 27"" monitor and broke it twice whi...",https://m.media-amazon.com/images/I/417vDmMtbp...,https://www.amazon.in/Samsung-inch-Bezel-Flick...
970,B0083T231O,Belkin Essential Series 4-Socket Surge Protect...,Electronics|PowerAccessories|SurgeProtectors,"‚Çπ1,289","‚Çπ1,499",14%,4.5,"20,668",Maximum Spike Current: 6500 Amps|Grounds AC po...,"AGT572FSHJL725535LQUNZXHTO2A,AGGIJ2Y7MC4VSMU57...","Hayat Ansari,Basanti Renu Hembram,Darshana Pra...","R1DQD1BRKH1AIO,R3ESPNPFL2XD8Z,RS64CINVRWLQ7,R3...","Good product with bad resellers,Works great,Be...",Product is excellent. But Belkin should check ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Belkin-Essential-F9E400z...
236,B097ZQTDVZ,7SEVEN¬Æ TCL Remote Control Smart TV RC802V Rem...,"Electronics|HomeTheater,TV&Video|Accessories|R...",‚Çπ399,‚Çπ899,56%,3.4,431,Compatible for TCL 65P8S 32A323 32A325 32P30S ...,"AGKXFGRXVN4CMGMCT5SGOPB6BBIQ,AGNKWLEKAA53Y27KT...","umakanth,Sagar Ranpise,Martin Gibson Karkada,R...","R16NWYD2LYHNFJ,R2Y32IVRENIANJ,R3BBJ9AXA1ZOSC,R...",When you can‚Äôt find the original this comes ha...,"Just got delivered, there‚Äôs lag in remote, it ...",https://m.media-amazon.com/images/I/31DRQ+kgWa...,https://www.amazon.in/RC802V-Compatible-43S650...
37,B09RZS1NQT,"Sounce 65W OnePlus Dash Warp Charge Cable, 6.5...",Computers&Accessories|Accessories&Peripherals|...,‚Çπ199,‚Çπ999,80%,4.0,576,[USB C To USB C Cord 1M] With This 1 Meter USB...,"AHUH7OYN3LAUATF5EGA575WCDI6A,AFQRX6TAM6CHKARXI...","Anmol,Vani,Tejas Jha,Rishabh Gupta,Nik,Harsha,...","RW294SCHB5QTK,R24AGC1O5RVWYI,R3NT7AA2V3I2FB,R2...","Worth it!,Good one,Robust and effective.,Good,...",It does the job really well. No complaints reg...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-Type-C-Compatible...
1384,B09XHXXCFH,"AGARO Regal Electric Rice Cooker, 3L Ceramic I...",Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...,"‚Çπ3,685","‚Çπ5,495",33%,4.1,290,Multi functional use- Steamed veggies and rice...,"AHD7UBRNLFOB46RIRLFXKJY6N53Q,AETPMOGJUEKAM3X4B...","Pratik garg,Amazon Customer,olivia dutta,Ravit...","R1FV12XCLPA07M,RR4FYBIUQQF0S,R3IGJPGKZS06NZ,R3...",It is a great product can be used to make dish...,I used it to make pulao and curry. It is eqsy ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/AGARO-Regal-Electric-Cer...
620,B07QZ3CZ48,boAt BassHeads 122 Wired Earphones with Heavy ...,"Electronics|Headphones,Earbuds&Accessories|Hea...",‚Çπ399,"‚Çπ1,290",69%,4.2,206,Tune into Premium Audio with 10mm Drivers and ...,"AEY3XQ3NAOS4ZK53VDEVWJ72UYMA,AFENYA36PCVR7U6VQ...","Clifford Francis,Paras s.,Aditya Pandey,Abhina...","RUVNSVGR3C0ZK,R3IZIBJ48U0KDN,REZOPKFLKI7YE,R3G...","Boats are the best.,Just awesome,it is good in...",The sound quality is amazing but you have to b...,https://m.media-amazon.com/images/I/41dNRo8Hu8...,https://www.amazon.in/BassHeads-122-Earphones-...
1275,B0BM9H2NY9,Multifunctional 2 in 1 Electric Egg Boiling St...,Home&Kitchen|Kitchen&HomeAppliances|SmallKitch...,‚Çπ699,"‚Çπ1,599",56%,4.7,"2,300",Egg Frying Pan,"AFZ2YKWX4KR7MWSA6UOMEGGHT32A,AEP6WZ7AR6XDQSBFS...","Nitin G.,Veerasomachary,Roshan,Kunwar Indransh...","R2DHTJGY77MOP0,R36IXNHZC037AW,R3GPHUMRV75VWK,R...","Amazing! Value for money!,Very easy to use,2 i...","Worth buying for eggetarians,Working great so ...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Multifunctional-Electric...
1179,B07SPVMSC6,Bajaj Frore 1200 mm Ceiling Fan (Brown),"Home&Kitchen|Heating,Cooling&AirQuality|Fans|C...","‚Çπ1,399","‚Çπ2,660",47%,4.1,"9,349","Sweep : 1200mm, Power : 56W, Air Delivery : 20...","AFE4ZYVJSLM3MSXZHWHIWFGRMNPQ,AGLLVLIYA7LEFYOBO...","Shahul hameed,Bhaumik,Amjith K,Khimesh Chandra...","R15AE2SXC1IIK3,RQHVUM93NUCOU,R2DX0NQ3S7KOQ4,R1...","üí•,Considering the price range, it‚Äôs a good one...","Nice,This fan is working fine, I‚Äôve been using...",https://m.media-amazon.com/images/I/21qojQDoKW...,https://www.amazon.in/Bajaj-Frore-1200-Brown-C...
277,B09VH568H7,Amazon Brand - Solimo 3A Fast Charging Tough T...,Computers&Accessories|Accessories&Peripherals|...,‚Çπ119,‚Çπ299,60%,3.8,51,Durable data cable with the toughest PVC jacke...,"AG5P7BKN4M3JH7HW64UV4Y2QZGHA,AHDAOL3TEKGCQABAY...","Sachin Dsouza,Ashrith S,Sheetal Prasad,Vibhu,B...","RR7JLC3VD2TBS,R3PG7SPU02XR6Z,R382LEGRZSS0UN,R1...","Good product, worth it,Not worthy to buy,good ...",",Please don't buy this product.Cable stopped w...",https://m.media-amazon.com/images/I/21pqzUPpJN...,https://www.amazon.in/Amazon-Brand-Solimo-Char...

Ë∞ÉÊï¥Â±ïÁ§∫`‰∏äÈôê`

In [ ]:
# pd.set_options("display.max_columns", 150)
# pd.set_options("display.max_columns", 500)

ËØÑ‰º∞`‰∏¢Â§±Êï∞ÊçÆ`  
`info`<br>
`isnull`<br>

In [19]:
Scores["ËÄÉËØï2"]

001    95.0
002    92.0
003    81.0
004    89.0
005    91.0
006     NaN
Name: ËÄÉËØï2, dtype: float64

In [22]:
Scores["ËÄÉËØï2"].isnull()

001    False
002    False
003    False
004    False
005    False
006     True
Name: ËÄÉËØï2, dtype: bool

In [23]:
Scores["ËÄÉËØï2"].isnull().sum()

np.int64(1)

In [21]:
Scores.isnull()

        ÂßìÂêç    ËÄÉËØï1    ËÄÉËØï2    ËÄÉËØï3
001  False  False  False  False
002  False  False  False  False
003  False  False  False   True
004  False  False  False  False
005  False  False  False  False
006  False  False   True  False

In [24]:
Scores.isnull().sum()

ÂßìÂêç     0
ËÄÉËØï1    0
ËÄÉËØï2    1
ËÄÉËØï3    1
dtype: int64

In [26]:
True + 6
False + 9

9

ÊèêÂèñ`‰∏¢Â§±Êï∞ÊçÆ`ÁöÑË°å

In [28]:
Scores[Scores["ËÄÉËØï3"].isnull()]

     ÂßìÂêç  ËÄÉËØï1   ËÄÉËØï2  ËÄÉËØï3
003  ÁøòÂÖî   86  81.0  NaN

## ËØÑ‰º∞ `ÈáçÂ§çÊï∞ÊçÆ`

In [30]:
Students = pd.Series(["001", "002", "003", "002", "005", "002", "006"], 
              index = [0, 1, 2, 3, 4, 5, 6])
Students

0    001
1    002
2    003
3    002
4    005
5    002
6    006
dtype: object

In [31]:
Students.duplicated()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
dtype: bool

In [32]:
S_ID1 = pd.Series(["001", "002", "003", "002", "005", "002", "006"])
S_Name1 = pd.Series(["Â≠ôÂì•", "ÈªÑÂì•", "ÁøòÂÖî", "sedËÄÅÂ∏à", "ÁãóÂ§Ñ", "ÈªÑÂì•", "Ê≠ªÁüÆÂ≠ê"])
S_Gender1 = pd.Series(["Â•≥", "Â•≥", "Áî∑", "Áî∑", "Â•≥", "Â•≥", "Â•≥"])
S_Height1 = pd.Series([172.5, 168.0, 178.2, 181.2, 161.7, 168.0, 158.5])
Students1 = pd.DataFrame({"Â≠¶Âè∑":S_ID1, "ÂßìÂêç":S_Name1, "ÊÄßÂà´":S_Gender1 , "Ë∫´È´ò":S_Height1})
New_Index1 = [0, 1, 2, 3, 4, 5, 6]
Students1.index = New_Index1
Students1

    Â≠¶Âè∑     ÂßìÂêç ÊÄßÂà´     Ë∫´È´ò
0  001     Â≠ôÂì•  Â•≥  172.5
1  002     ÈªÑÂì•  Â•≥  168.0
2  003     ÁøòÂÖî  Áî∑  178.2
3  002  sedËÄÅÂ∏à  Áî∑  181.2
4  005     ÁãóÂ§Ñ  Â•≥  161.7
5  002     ÈªÑÂì•  Â•≥  168.0
6  006    Ê≠ªÁüÆÂ≠ê  Â•≥  158.5

In [35]:
Students1.duplicated()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [36]:
Students1.duplicated(subset = ["Â≠¶Âè∑", "ÊÄßÂà´"])

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [37]:
Students1[Students1.duplicated(subset = ["Â≠¶Âè∑", "ÊÄßÂà´"])]

    Â≠¶Âè∑  ÂßìÂêç ÊÄßÂà´     Ë∫´È´ò
5  002  ÈªÑÂì•  Â•≥  168.0

ËØÑ‰º∞`‰∏ç‰∏ÄËá¥Êï∞ÊçÆ`

In [38]:
S_ID2 = pd.Series(["001", "002", "003", "002", "005", "002", "006"])
S_Name2 = pd.Series(["Â≠ôÂì•", "ÈªÑÂì•", "ÈªÑÂì•", "ÁøòÂÖî", "sedËÄÅÂ∏à", "ÁãóÂ§Ñ", "Ê≠ªÁüÆÂ≠ê"])
S_Gender2 = pd.Series(["Â•≥", "Â•≥", "Â•≥", "Áî∑", "Áî∑", "Â•≥", "Â•≥"])
S_Class2 = pd.Series(["1 Áè≠", "1Áè≠", "1 Áè≠", "‰∏ÄÁè≠", "‰∫åÁè≠", "2 Áè≠", "2 Áè≠"])
Students2 = pd.DataFrame({"Â≠¶Âè∑":S_ID2, "ÂßìÂêç":S_Name2, "ÊÄßÂà´":S_Gender2 , "Áè≠Á∫ß":S_Class2})
New_Index2 = [0, 1, 2, 3, 4, 5, 6]
Students2.index = New_Index2
Students2

    Â≠¶Âè∑     ÂßìÂêç ÊÄßÂà´   Áè≠Á∫ß
0  001     Â≠ôÂì•  Â•≥  1 Áè≠
1  002     ÈªÑÂì•  Â•≥   1Áè≠
2  003     ÈªÑÂì•  Â•≥  1 Áè≠
3  002     ÁøòÂÖî  Áî∑   ‰∏ÄÁè≠
4  005  sedËÄÅÂ∏à  Áî∑   ‰∫åÁè≠
5  002     ÁãóÂ§Ñ  Â•≥  2 Áè≠
6  006    Ê≠ªÁüÆÂ≠ê  Â•≥  2 Áè≠

In [39]:
Students2["Áè≠Á∫ß"]

0    1 Áè≠
1     1Áè≠
2    1 Áè≠
3     ‰∏ÄÁè≠
4     ‰∫åÁè≠
5    2 Áè≠
6    2 Áè≠
Name: Áè≠Á∫ß, dtype: object

In [40]:
Students2["Áè≠Á∫ß"].value_counts()

Áè≠Á∫ß
1 Áè≠    2
2 Áè≠    2
1Áè≠     1
‰∏ÄÁè≠     1
‰∫åÁè≠     1
Name: count, dtype: int64

ËØÑ‰º∞`Êó†Êïà/ÈîôËØØÊï∞ÊçÆ`

In [45]:
S_Name3 = pd.Series(["Â≠ôÂì•", "ÈªÑÂì•", "ÈªÑÂì•", "ÁøòÂÖî", "sedËÄÅÂ∏à", "ÁãóÂ§Ñ", "Ê≠ªÁüÆÂ≠ê"])
S_Gender3 = pd.Series(["Â•≥", "Â•≥", "Â•≥", "Áî∑", "Áî∑", "Â•≥", "Â•≥"])
S_Height3 = pd.Series([172.5, 168.0, 1168.0, 178.2, 181.3, -161.7, 158.5])
Students3 = pd.DataFrame({"Â≠¶Âè∑":S_Name3, "ÂßìÂêç":S_Name3, "ÊÄßÂà´":S_Gender3, "Ë∫´È´ò":S_Height3})
# New_Index3 = [0, 1, 2, 3, 4, 5, 6]
# Students2.index = New_Index3
Students3

      Â≠¶Âè∑     ÂßìÂêç ÊÄßÂà´      Ë∫´È´ò
0     Â≠ôÂì•     Â≠ôÂì•  Â•≥   172.5
1     ÈªÑÂì•     ÈªÑÂì•  Â•≥   168.0
2     ÈªÑÂì•     ÈªÑÂì•  Â•≥  1168.0
3     ÁøòÂÖî     ÁøòÂÖî  Áî∑   178.2
4  sedËÄÅÂ∏à  sedËÄÅÂ∏à  Áî∑   181.3
5     ÁãóÂ§Ñ     ÁãóÂ§Ñ  Â•≥  -161.7
6    Ê≠ªÁüÆÂ≠ê    Ê≠ªÁüÆÂ≠ê  Â•≥   158.5

In [46]:
Students3["Ë∫´È´ò"].sort_values()

5    -161.7
6     158.5
1     168.0
0     172.5
3     178.2
4     181.3
2    1168.0
Name: Ë∫´È´ò, dtype: float64

In [47]:
Students3.describe()

                Ë∫´È´ò
count     7.000000
mean    266.400000
std     416.596447
min    -161.700000
25%     163.250000
50%     172.500000
75%     179.750000
max    1168.000000