In [1]:
import numpy as np
import pandas as pd

保存`DataFrame`到 csv 的方法:<br>
      `to_csv`<br>
`DF1.to_csv("FileName.csv")`

当你使用 Jupyter Notebook 保存 DataFrame 为 CSV 文件，并用 Excel 打开后发现中文变成乱码时，通常是由于编码问题引起的。Jupyter Notebook 默认保存的 CSV 文件编码可能不是 Excel 默认支持的格式。

要解决这个问题，你可以在保存 DataFrame 时指定编码为 utf-8-sig，如下所示：

python  
复制代码  
`DF5.to_csv('filename.csv', encoding='utf-8-sig')`  
`utf-8-sig`这种编码方式确保 Excel 打开时能够正确识别文件中的中文字符。

In [2]:
S_ID1 = pd.Series(["001", "002", "003", "002", "005", "002", "006"])
S_Name1 = pd.Series(["孙哥", "黄哥", "翘兔", "sed老师", "狗处", "黄哥", "死矮子"])
S_Gender1 = pd.Series(["女", "女", "男", "男", "女", "女", "女"])
S_Height1 = pd.Series([172.5, 168.0, 178.2, 181.2, 161.7, 168.0, 158.5])
Students1 = pd.DataFrame({"学号":S_ID1, "姓名":S_Name1, "性别":S_Gender1 , "身高":S_Height1})
New_Index1 = ["甲", "乙", "丙", "丁", "戊", "己", "庚"]
Students1.index = New_Index1
Students1

    学号     姓名 性别     身高
甲  001     孙哥  女  172.5
乙  002     黄哥  女  168.0
丙  003     翘兔  男  178.2
丁  002  sed老师  男  181.2
戊  005     狗处  女  161.7
己  002     黄哥  女  168.0
庚  006    死矮子  女  158.5

In [3]:
Students1.to_csv("./Some_Data_Base/保存的第一份csv.csv", encoding='utf-8-sig')

In [4]:
S1 = pd.read_csv("./Some_Data_Base/保存的第一份csv.csv")
S1

  Unnamed: 0  学号     姓名 性别     身高
0          甲   1     孙哥  女  172.5
1          乙   2     黄哥  女  168.0
2          丙   3     翘兔  男  178.2
3          丁   2  sed老师  男  181.2
4          戊   5     狗处  女  161.7
5          己   2     黄哥  女  168.0
6          庚   6    死矮子  女  158.5

In [5]:
Students1.to_csv("保存的第一份csv.csv")

In [9]:
S1.rename(columns = {"Unnamed: 0": "销售ID"}, inplace = True)
S1

  销售ID  学号     姓名 性别     身高
0    甲   1     孙哥  女  172.5
1    乙   2     黄哥  女  168.0
2    丙   3     翘兔  男  178.2
3    丁   2  sed老师  男  181.2
4    戊   5     狗处  女  161.7
5    己   2     黄哥  女  168.0
6    庚   6    死矮子  女  158.5

In [10]:
S1.set_index("销售ID", inplace = True)
S1

      学号     姓名 性别     身高
销售ID
甲      1     孙哥  女  172.5
乙      2     黄哥  女  168.0
丙      3     翘兔  男  178.2
丁      2  sed老师  男  181.2
戊      5     狗处  女  161.7
己      2     黄哥  女  168.0
庚      6    死矮子  女  158.5

如果不保存`DataFrame`的索引：<br>
`S1.to_csv("FileName.csv", index = False)`<br>
里面的`index = False`起到了作用。